:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

body {
    background-color: rgb(240, 242, 245) !important;
    display: flex !important;
    flex-direction: column !important;
}

.button-finish {
    background-color: #00cf79;
    color: white;
    border-radius: 4px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    .button-finish:hover {
        background-color: #00a659;
    }

.button-end{
    align-self: end;
}

.button-middle {
    align-self: center;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f0f0f0;
    border-radius: 0px;
}

::-webkit-scrollbar-thumb {
    background: rgb(199, 199, 199);
    border-radius: 0px;
}

    ::-webkit-scrollbar-thumb:hover {
        background: #8b8c8c;
    }
* {
    scrollbar-color: rgb(199, 199, 199) #f0f0f0;
}

.button-blue {
    padding: 10px 20px;
    border-radius: 0px;
    border: 1px solid white;
    background-color: #00b7cf;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    transition: background-color .2s ease-in-out;
    max-width: 20vh;
    width: 100%;
}

.button-blue-small {
    padding: 10px 20px;
    border-radius: 0px;
    border: 1px solid white;
    background-color: #00b7cf;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    transition: background-color .2s ease-in-out;
    max-width: 20vh;
    width: 100%;
}

.blue-th {
    color: rgb(0, 183, 207) !important;
}

.title-custom {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #4e5e6d;
    text-align: center;
}

.main-style {
    display: flex;
    flex-direction: column;
    width: 100vw;
    background-color: #f0f2f5;
    height: calc(100vh - 70px);
    align-items: center;
    justify-content: center;
}

@media (max-width: 450px){
    .main-style {
        display: flex;
        flex-direction: column;
        width: 100vw;
        background-color: #f0f2f5;
        height: calc(100vh + 60px);
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 400px) {
    .main-style {
        display: flex;
        flex-direction: column;
        width: 100vw;
        background-color: #f0f2f5;
        height: calc(100vh + 220px);
        align-items: center;
        justify-content: center;
    }
}

.main-dashboard {
    display: flex;
    flex-direction: column;
    width: 100vw;
    background-color: #f0f2f5;
    height: calc(100vh - 70px);
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

@media (max-width: 450px) {
    .main-dashboard {
        display: flex;
        flex-direction: column;
        width: 100vw;
        background-color: #f0f2f5;
        height: calc(100vh + 60px);
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
}

@media (max-width: 400px) {
    .main-dashboard {
        display: flex;
        flex-direction: column;
        width: 100vw;
        background-color: #f0f2f5;
        height: calc(100vh + 220px);
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
}

.flex-end{
    display: flex;
    justify-content: flex-end;
}

.flex-start {
    display: flex;
    justify-content: flex-start;
}

.content {
    max-width: 1800px;
    font-family: 'Roboto', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #fff;
    width: 100%;
    box-sizing: border-box;
    margin-top: 1vh;
    max-height: 1050px;
    height: 100%;
    overflow-y: auto;
}

.content-height-scalable {
    max-width: 1800px;
    font-family: 'Roboto', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #fff;
    width: 100%;
    box-sizing: border-box;
    margin-top: 1vh;
    max-height: 1050px;
    overflow-y: auto;
}
