.register-form {
    font-family: 'Roboto', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #fff;
    width: 100%;
    max-width: 500px;
    box-sizing: border-box;
    margin-top: 7vh;
}

.register-multi-step-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    box-sizing: border-box;
    margin-top: 1vh;
    align-items: stretch;
}

.step-button-header {
    display: flex;
    justify-content: space-around;
    background-color: #f0f2f5;
    border-radius: 8px 8px 0 0;
}

.step-button {
    padding: 10px;
    cursor: pointer;
    background-color: #eff2f5;
    transition: background 0.3s ease;
    font-size: 16px;
    text-align: center;
    color: #515151;
    width: 15vw;
}

    .step-button.active {
        background-color: #00b7cf;
        color: white;
        font-weight: bold;
    }

.register-content {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.input-container {
    margin-bottom: 15px;
}

.input-title {
    color: #717171;
    text-align: left;
    margin: 0;
    font-size: 16px;
}

.form-input {
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    border: none;
    background-color: #f0f2f5;
    box-sizing: border-box;
    color: #515151;
}

.form-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #4e5e6d;
    text-align: center;
}