.form-container-child {
    font-family: 'Roboto', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #fff;
    width: 100%;
    box-sizing: border-box;
    margin-top: 1vh;
    align-self: center;
}

.form-content-child {
    flex-grow: 1;
    padding-top: 2vh;
    background: #fff;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.input-title {
    color: #717171;
    text-align: left;
    margin: 0;
    font-size: 16px;
}

.description-child {
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    border: none;
    background-color: #f0f2f5;
    box-sizing: border-box;
    color: #515151;
    resize: none;
    height: 15vh;
}

.input {
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    border: none;
    background-color: #f0f2f5;
    box-sizing: border-box;
    color: #515151;
}

.mb-2vh {
    margin-bottom: 2vh;
}